.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 300px;
  border: 3px solid var(--mid-white);
  border-radius: 15px;
  overflow: hidden;
  margin: 0px 10px 0px 10px;
}

.card img {
  width: 85%;
  margin: 10px;
}

.card h2 {
  font-size: 22px;
  margin: 5px;
}

.card p {
  color: transparent;
  font-size: 12px;
  margin: 15px;
  transition: 0.3s;
}

.card:hover p {
  color: var(--bright-white);
  display: block;
}
