:root {
  --bright-white: rgb(230, 230, 230);
  --mid-white: rgb(190, 190, 190);
  --bright-grey: rgb(150, 150, 150);
  --dark-grey: rgb(100, 100, 100);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--bright-white);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 15px;
}

p {
  font-weight: 550;
  margin: 0;
  padding: 0px 0px 5px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  cursor: pointer;
  background: var(--dark-grey);
  border-radius: 10px;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--bright-white);
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px var(--bright-white);
}

input[type="range"]::-moz-range-thumb {
  background: var(--bright-white);
  box-shadow: -200px 0 0 200px var(--bright-white);
  width: 0;
  height: 0;
  border: none;
}

button {
  font-size: 1.1em;
  margin: 15px 10px 0px 10px;
  padding: 8px;
  border: 2px solid var(--bright-grey);
  border-radius: 10px;
  color: var(--mid-white);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--bright-white);
  border-color: var(--bright-white);
  color: black;
  box-shadow: rgba(255, 255, 255, 0.1) 0 8px 15px;
  transform: translateY(-1px);
}

button:active {
  background-color: white;
  border-color: white;
  transform: translateY(0);
  box-shadow: none;
}

button img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: 0.3s;
}

button:hover img {
  transform: scale(1.1);
  filter: invert(1);
  opacity: 1;
}
